extends ./layout/index 

block slider 
    .slider 
        h1 Rio de Janeiro 
        em aventura 
block contenido 
    main.container.mt-5
        h2.text-center.mb-5 Sobre nosotros 
        .row.mb-5 
            .col-md-6 
                p Aenean fermentum id purus sed interdum. Aenean laoreet, erat in convallis pretium, est dolor pretium neque, sed aliquam velit mauris at ipsum. Nulla vel ligula velit. Nunc vulputate turpis urna, nec faucibus felis ultrices in. 
                p Ut eu ultrices dui, laoreet efficitur arcu. Curabitur eu quam posuere, convallis felis sed, pellentesque nisi. Integer sed blandit purus. Praesent sit amet velit pulvinar purus blandit fringilla in in erat.
            .col-md-6 
                img(src="/img/inicio_nosotros.jpg", alt="Imagen nosotros" class="img-fluid")
        
        include ./layout/bloque_viajes

    .descuento
        .container
            .row 
                .col-md-6 
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2500 USD

    .container 
        h2.mt-5.text-center Testimoniales 
        include ./layout/bloque_testimoniales