extends ./layout/index 
block contenido 
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")

            .col-md-7
                h1= pagina 
                Blockquote Mauris ultrices lorem non lorem condimentum pharetra. Integer elit enim, varius ut dictum ut, lacinia ac eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed ut bibendum erat, at malesuada mauris. Aliquam commodo gravida elit nec mattis. Pellentesque quam mauris, euismod eu blandit eget, consequat non nibh. Phasellus sit amet ante ac erat mollis interdum. Suspendisse potenti. In quis tempus metus. 
                p Vestibulum sollicitudin, enim et blandit ultricies, felis metus venenatis felis, vel laoreet orci nisl et ex. Integer lacinia posuere augue et rhoncus. Phasellus non turpis eros. Vivamus suscipit arcu quis imperdiet ultrices. Quisque elementum felis odio, at bibendum lorem cursus vitae. Nullam metus dui, accumsan id elit vitae, pellentesque bibendum enim. Sed fermentum risus auctor ante tincidunt eleifend. Praesent ultrices feugiat augue ac aliquet. Cras tristique vel felis nec viverra. Ut luctus orci enim.

            .listado-iconos 
                .container.mt-5.py-5.text-center 
                    .row
                        .col-md-4
                            img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                            h2.mb-4 Seguridad 
                            p  Vivamus non mi in urna varius scelerisque. In sollicitudin euismod commodo. Nam posuere turpis sed pretium viverra. Donec non est in lacus semper blandit sit amet at felis.

                        .col-md-4
                            img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                            h2.mb-4 Seguridad 
                            p  Vivamus non mi in urna varius scelerisque. In sollicitudin euismod commodo. Nam posuere turpis sed pretium viverra. Donec non est in lacus semper blandit sit amet at felis.

                        .col-md-4
                            img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                            h2.mb-4 Seguridad 
                            p  Vivamus non mi in urna varius scelerisque. In sollicitudin euismod commodo. Nam posuere turpis sed pretium viverra. Donec non est in lacus semper blandit sit amet at felis.
